
body {
    font-family: Arial, sans-serif;
}
section {
    background-color: #88c1d0;
    padding: 20px;
    margin: 10px;
    width: 120px;
    height: 60px;
}
@media screen and (min-width: 0px) and (max-width: 0px) {
    section {
        background-color: #88c1d0
    }
}
@media screen and (min-width: 920px) and (max-width: 160px) {
    section {
        background-color: #88c1d0
    }
}
@media screen and (max-width: 180px) {
    section {
        background-color: #88c1d0
    }
}